.post-type-archive-portfolio .portfolio__container h1 {
    text-align: center;
}

.site__portfolio {
    display: flex;
    gap: 28px;
    flex-wrap: wrap;
    justify-content: center;
    margin: 50px 0;
}

.site__portfolio>.project {
    width: 38%;
    position: relative;
    border-radius: 18px;
    overflow: hidden;
    box-shadow: 0px 0px 5px #00000033;
}
.site__portfolio>.project:nth-child(4n+2), .site__portfolio>.project:nth-child(4n+3) {
    width: 58%;
}
.site__portfolio>.project img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.site__portfolio>.project .project__title {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
}

.site__portfolio>.project .project__title>a {
    background-color: #00000033;
    color: white;
    display: block;
    width: 100%;
    height: 100%;
    padding: 20px;
    transition: all .6s ease-in-out;
}
.site__portfolio>.project .project__title>a:hover {
    background-color: #000000aa;
}

.site__portfolio>.project .project__title .taxonomies {
    display: inline-block;
    color: white;
    border: 1px solid #eee;
    padding: 5px 10px;
    border-radius: 5px;
    margin-left: 10px;
    position: absolute;
    top: 20px;
    right: 20px;
    max-width: 40%;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.site__portfolio>.project .project__title .taxonomies>a {
    font-size: 0.6em;
    color: white;
}

@media screen and (max-width: 993px) {
    .site__portfolio>.project,
    .site__portfolio>.project:nth-child(4n+2), 
    .site__portfolio>.project:nth-child(4n+3) {
        width: 95%;
    }
    .site__portfolio>.project .project__title .taxonomies {
        top: auto;
        bottom: 20px;
        max-width: 100%;
    }
}